DATABASE_URL="postgresql://wellness:wellness@localhost:5432/wellness_point?schema=public"

AUTH_SECRET="your-random-32-char-secret-here-please-change"
AUTH_URL="http://localhost:3000"

NEXT_PUBLIC_APP_NAME="Wellness Point"

NODE_ENV="development"
